*{
    margin: 0px;
    scroll-behavior: smooth;
}
.container{
    background-color: white;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0px;
    
}
.row{
    background-color: rgb(132, 123, 123);
    display: flex;
    position: sticky;
    top: 0px;
    padding: 5px;
    justify-content: space-between; /*space between the content*/
}
.hom{
    display: flex;
    justify-content: space-around; 
    padding: 20px;
    height: 100%;
    align-items: center;
    font-size: larger;
    background:linear-gradient(45deg ,#a89e9e 25%,rgba(171, 165, 165, 0.989) 25%,rgb(159, 140, 140) 75%,#9d8787 75%,#c5acac);
}
.proj{
    display: flex;
    justify-content: space-around; 
    padding: 20px;
    height: 100%;
    align-items: center;
    background:linear-gradient( rgb(175, 149, 149),rgb(232, 211, 185));
}
.proj h1{
    color:black;
    text-align: center;
    padding-bottom: 20px;
    text-decoration: underline;
}
.p1{
    padding: 20px;
    margin: 20px;
    background-color: rgb(213, 200, 200);
    border-radius: 10px;

}
.p1 h3{
    padding-bottom: 10px;
    text-decoration: underline;
}
.p2{
    padding: 20px;
    margin: 20px;
    background-color: rgb(213, 200, 200);
    border-radius: 10px;
}
.p2 h3{
    padding-bottom: 20px;
    text-decoration: underline;
}
.abt{
    display: flex;
    padding: 20px;
    height: 100%;
    align-items: center;
    background-color: rgb(203, 181, 185);
}
.abt h1{
    text-align: center;
    text-decoration: underline;
    margin: 0px;
    padding-bottom: 20px;
    color: black;
}
.abt p{
    text-align: left;
    padding: 20px;
    font-size: large;
}
.abt img{
    height: 100px;
    width: 100px;
    margin: 20px;
    border-radius: 10px;
}
.abt img:hover{
    cursor: pointer;
}

.serv{
    justify-content: space-around;
    padding: 20px;
    height: 100%;
    align-items: center;
    background: linear-gradient(to left,rgb(180, 158, 158), rgb(203, 181, 185))
   
}
.serv h1{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}
.servh{
    padding: 10px;
    align-items: center;
    display: flex;
}
.serv img{
    height: 70px;
    width: 70px;
    border-radius: 20px;
    padding: 10px;
}

.box1{
    padding: 20px;
    background-color: white;
    color: black;
    margin: 15px;
    border-radius: 10px;
    justify-items: center;
}

.box1 h3{
    text-decoration: underline;
}
.box1 p{
    text-align:left;
    padding: 5px;
    display: flex;
}
li{
    display: inline;
    padding: 5px;

}
.box a{
    text-decoration: none;
    font-size: larger;
    padding: 5px;
}
.box a:hover{
    background-color:darkgray;
    text-decoration: underline;
    font-weight: bold;
}
.imgclass{
    border-radius: 100px;
    height: 400px;
    width: 500px;
}
.cont{
    display: flex;
    justify-content: space-around; 
    padding-bottom: 20px;
    height: 600px;
    align-items: center;
    background:linear-gradient( rgb(189, 176, 176),lightgrey);
}
.cont p{
    font-size:large;
    text-align: left;
    padding: 20px;
    background-color: white;
    color: black;
    margin: 15px;
    border-radius: 10px;
    justify-items: center;
}
.cont h1{
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    padding: 10px;
    margin: 50px;
}
.cont a{
    text-decoration: none;
}
.cont a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.box{
    padding: 10px; 
}
footer{
    text-align: center;
    margin-top:  0px;
    margin-bottom: 0px;
    padding: 20px;
    background-color: rgb(114, 104, 104);
    font-weight: bold;
    font-size: larger;
    
}