*{
    margin: 0px;
    scroll-behavior: smooth;
}
.container{
    background-color: whitesmoke;
    margin: 0px;
    
}
.row{
    background-color: lightgray;
    display: flex;
    position: sticky;
    top: 0px;
    padding: 5px;
    justify-content: space-between; /*space between the content*/
}
.row1{
    display: flex;
    justify-content: space-around; 
    padding: 20px;
    height: 600px;
    align-items: center;
    font-size: larger;
}
.row2{
    display: flex;
    justify-content: space-around; 
    padding: 20px;
    height: 600px;
    align-items: center;
    background-color: rgb(204, 196, 196);
}
.row3{
    display: flex;
  
    padding: 20px;
    height: 600px;
    align-items: center;
    background-color:beige;
}
.row3 h2{
    text-align: center;
    text-decoration: underline;
    margin: 0px;
    padding: 10px;
}
.row3 p{
    text-align: left;
    padding: 20px;
    font-size: large;
}
.row3 img{
    height: 100px;
    width: 100px;
    margin: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
    border-radius: 10px;
}
.row3 img:hover{
    transform: scale(1.1); 
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.row4{
    justify-content: space-around;
    padding: 20px;
    height: 500px;
    align-items: center;
    background-color:rgb(238, 225, 209);
   
}
.row4 h2{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}
.row4h{
    padding: 10px;
    align-items: center;
    display: flex;
}
.row4 img{
    height: 70px;
    width: 70px;
    border-radius: 20px;
    padding: 10px;
}

.box1{
    padding: 20px;
    background-color: white;
    color: black;
    margin: 15px;
    border-radius: 10px;
    justify-items: center;
}

.box1 h3{
    text-decoration: underline;
}
.box1 p{
    text-align:left;
    padding: 5px;
    display: flex;
}
li{
    display: inline;
    padding: 5px;

}
.box a{
    text-decoration: none;
    font-size: larger;
    padding: 5px;
}
.box a:hover{
    background-color:darkgray;
    text-decoration: underline;
    font-weight: bold;
}
.imgclass{
    border-radius: 100px;
    height: 400px;
    width: 500px;
}
.row5{
    display: flex;
    justify-content: space-around; 
    padding: 20px;
    height: 600px;
    align-items: center;
    background-color: rgb(185, 198, 208);
}
.row5 p{
    font-size:large;
    text-align: left;
    padding: 20px;
    background-color: white;
    color: black;
    margin: 15px;
    border-radius: 10px;
    justify-items: center;
}
.row5 h2{
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    padding: 10px;
    margin: 50px;
}
.row5 a{
    text-decoration: none;
}
.row5 a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.box{
    padding: 10px; 
}
footer{
    text-align: center;
    margin-top:  0px;
    margin-bottom: 0px;
    padding: 20px;
    background-color: lightgrey;
    font-weight: bold;
    font-size: larger;
    
}